#WWW
WWW_PORT=80
WWW_SECURITY_PORT=433

#MYSQL
MYSQL_PORT=3306
MYSQL_DATABASE=default
MYSQL_PASSWORD=root

#PosgresSQL
PGSQL_PORT=5432
PGSQL_DATABASE=default
PGSQL_PASSWORD=root

#PHP
PHP_VERSION=8.0

#NODE
NODE_VERSION=12.16.2

#REDIS
REDIS_PORT=6379

#RABBITMQ
RABBITMQ_ERLANG_COOKIE=erlang
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_TRAFFIC_PORT=5672
RABBITMQ_MANAGER_PORT=15672

#MEMCACHED
MEMCACHED_PORT=11221
